.r4-footer{
    background-color: black;
}
.white{
    color: white;
}
.r4cent{
    align-items: center;
}
.red{
    color: red;
}
.blue{
    color: blue;

}

.bold{
    font-weight: bold;
}

.no-bullet{
    list-style-type: none;
    border-left: 2px solid gray;
    padding-left: 5px;
    margin-left: 10px;
    color:red;
   
}
.no-bullet li{
    margin-top: 15px;
}

.no-bullet a{
    color:red;
}

.head-down{
    font-size: 22px;
    font-family:monospace;
}
.non-dot{
    list-style-type:none;
}
.download-font{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*....hide scrollbar................................*/

    /* Hide scrollbar for Chrome, Safari and Opera */
    #header::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    #header {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
  
    html {
        scroll-behavior: smooth;
    }